{% extends 'admin/base.html.twig' %}
{% block body %}
<<<<<<< HEAD
<h1>studio</h1>
<a href="{{ path('admin_studios_new')}}" class="btn btn-primary">Nouvelle studio<a>
=======
<h1>Studio</h1>
<a href="{{ path('admin_studios_new')}}" class="btn btn-primary">Nouveau studio</a>
    <div class="block-admin">
>>>>>>> 0eec2f8331878ce055496d6baa8e596bc5b7c268
    <table class="table table-condensed">
        <thead>
        <th>Nom</th>
        <th colspan="2"></th>
        </thead>
        <tbody>
        {% for studio in studios %}
        <tr>
            <td><a href="{{ path('admin_studios_show',{'id': studio.id}) }}">{{ studio.name }}</a></td>
            <td><a href="{{ path('admin_studios_edit')}}"><i class="fas fa-edit"></i></a></td>
            <td><a href="{{ path('admin_studios_delete',{'id': studio.id}) }}"><i class="fas fa-trash-alt"></i></a></td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    </div>
{% endblock %}