{% extends 'admin/base.html.twig' %}
{% block body %}
<h1>Users</h1>
<a href="{{ path('admin_users_new')}}" class="btn btn-primary" >Nouveau User <a>
        <table class="table table-condensed">
            <thead>
                <th>prenom</th>
                <th>Nom</th>
                <th>email</th>
                <th>Date inscription</th>
                <th colspan="2"></th>
            </thead>
            <tbody>
             {% for user in users %}
            <tr>
                <td>
                    <a href="{{ path('admin_users_show',{'id': user.id}) }}">
                    {{ user.firstName }}
                    </a>
                </td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.birthday.date }}</td>
                <td><a href="{{ path('admin_users_edit')}}">Modifier</a></td>
                <td><a href="{{ path('admin_users_delete',{'id': user.id}) }}">Supprimer</a></td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
{% endblock %}